In [9]:
1/24

0.041666666666666664

In [9]:
import pandas as pd
import numpy as np

In [10]:
path = "Dani.xlsx"
df = pd.read_excel(path)

In [11]:
df

           class  love  good  effort  money
0  data analysis   7.0   6.0       6    7.0
1             DS   6.5   5.0      10    9.0
2    programming   6.5   5.5       9    8.5
3      economics   6.0   8.0       1    6.5
4             UX   6.5   4.0       9    7.5
5        drawing   8.0   4.0       9    3.5

In [16]:
weights = [0.9, 0.3, -0.3, 0.3]
df["sum"] = df["love"]*weights[0] + df["good"]*weights[1] + df["effort"]*weights[2]+df["money"]*weights[3]

In [17]:
df

           class  love  good  effort  money   sum
0  data analysis   7.0   6.0       6    7.0  8.40
1             DS   6.5   5.0      10    9.0  7.05
2    programming   6.5   5.5       9    8.5  7.35
3      economics   6.0   8.0       1    6.5  9.45
4             UX   6.5   4.0       9    7.5  6.60
5        drawing   8.0   4.0       9    3.5  6.75